body {
    background: rgb(4, 4, 4);
    overflow: hidden;
    height: 100%;
}
header {

    margin: 0;
    width:100%;
    height: 150px;
    color:aliceblue;
    display: flex;
    gap:30px;
    & img {
        position:relative;
        left:2%;
        width: 33px;
        height: 33px;
        border:groove;
        border-radius:50px;
        border-color:red;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);      
   }
   img:hover {
        transform: scale(1.1);
        transition: 0.3s;
   }
   & input {
        position: relative;
        left: 1%;
        width: 300px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 10px;
        font-size: 16px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);      

   }
   & ul  {
    display: flex;
    gap: 20px;
    position: relative;
    left: 20%;
    list-style: none;
   }
   & li a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
   }
    li a:hover {
        color: red;
        text-decoration: underline;
    }
}
.bi {
    background-color: #fb0000;
    width: 20%;
    height: 90%;
position: absolute;
top:10%;
border-radius: 10px;
gap: 10px;
& a {
    position: relative;
    left: 80%;
    bottom: 10%;
    border-radius: 20px;
    height: 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;}
}
.bi a:hover {
    background-color: rgb(246, 243, 243);
    color: red;
    text-decoration: underline;
}
.nav1 {
    position: relative;
    left: 5%;
    width: 90%;
    height: 10vh;
    height: 40%;
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    & .ctap {
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
    & button {
        position: relative;
        left:20%;
        width: 40%;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: red;
        color: aliceblue;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;

    }
    }
.stap {
        background-color: black;
        color: aliceblue;
        border-radius: 10px;
    & button {
        position: relative;
        left:20%;
        width: 40%;
        height: 30px;
        border-radius: 10px;
        border: none;
        background-color: red;
        color: aliceblue;
        font-size: 10px;
        font-weight: bold;
        cursor: pointer;

    }
    & ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        left: 20%;
        bottom: 10%;
        list-style: none;
    }

}